{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
{% load static %}
    <section class="hero">
        <h1 class="hero-slogan">делитесь поездками. делитесь звёздами. покоряйте Марс.</h1>
        <a id="start-link" class="hero-link hidden" href="{% url 'rovers:rent' %}">Начать сейчас</a>
        <video class="hero-video" autoplay muted loop>
            <source src="{% static 'images/bg/rover_on_mars.mp4' %}"> 
        </video>
    </section>
    <hr class="video-shadow">
    <section class="features">
        <div class="feature">
            <h3>Современные технологии</h3>
            <p>Наши марсоходы оснащены передовыми технологиями для оптимального исследования.</p>
        </div>
        <div class="feature">
            <h3>Экспертная поддержка</h3>
            <p>Наша команда экспертов доступна 24/7 для помощи во время Вашего приключения на Марсе.</p>
        </div>
        <div class="feature">
            <h3>Индивидуальный опыт</h3>
            <p>Настройте свое путешествие с нашими опциями марсоходов, подобранными под Ваши потребности.</p>
        </div>
    </section>
    <section class="about">
        <h1 class="mission-title">Наша миссия - сделать исследование Марса доступным для всех.</h1>
        <p>В StarBugsSharing мы стремимся предоставить беспрецендентные возможности для изучения Красной планеты.</p>
    </section>
{% endblock %}