{% extends 'main/template.html'%}
{% block title %}Главная{% endblock %}
{% block content %}
{% load static %}
        <div>
            <h3><span>делитесь поездками. делитесь звёздами. покоряйте Марс.</span></h3>
        </div>
        <div class="zagolovok"><span>О НАС</span></div>
        <p class="content">StarBugsShare предоставляет Вам
            уникальную возможность арендовать марсоходы и
            исследовать поверхность Марса.
            Наши марсоходы оборудованы передовой технологией и
            гарантируют вам незабываемые приключения на Красной планете.
            Присоединяйтесь к нам и давайте совершать путешествия на Марс вместе!</p>
            <div class="benefits">
                <h2>Преимущества Шеринга Марсоходов</h2>
                <ul>
                    <li>Гибкость и свобода передвижения</li>
                    <li>Уникальные возможности исследования Марса</li>
                    <li>Простая регистрация и использование сервиса</li>
                </ul>
            </div>
            <img src="{% static 'main/img/rover1.jpg' %}" alt="rover">
{% endblock %}