{% extends 'base.html'%}
{% block title %}Подписка StarBugs++{% endblock %}
{% block content %}
<div class="premium-header">
    <div class="premium-headline-slogan centered-text">
        <h1>Единственная подписка для настоящих покорителей Марса</h1>
    </div>
    <h1 class="premium-headline-title centered-text text-flicker-in-glow">starbugs++</h1>
    <div class="premium-description centered-text">
        <p>Подписка StarBugs++ предоставляет вам доступ
            к абсолютно любому марсоходу, используя Credits.</p>
        <p>Также вы можете оформить пробный период на 14 дней.</p>
    </div>
    <h2 class="premium-small-title centered-text">Всё просто:</h2>
</div>
<div class="premium-rules">
    <div class="premium-line">
        <div class="rule-number left-number text-flicker-in-glow">
            01
        </div>
        <div class="two-rules">
            <div class="first-rule">
                Выбираете любой из доступных марсоходов
            </div>
            <div class="second-rule">
                Отдаёте Credits в зависимости от текущего спроса
            </div>
        </div>
        <div class="rule-number right-number text-flicker-in-glow">
            02
        </div>
    </div>
    <div class="premium-line">
        <div class="rule-number left-number text-flicker-in-glow">
            03
        </div>
        <div class="two-rules">
            <div class="first-rule">
                Используете его для ваших нужд
            </div>
            <div class="second-rule">
                Когда надоедает — освобождаете и получаете Credits обратно
            </div>
        </div>
        <div class="rule-number right-number text-flicker-in-glow">
            04
        </div>
    </div>
</div>
<div class="premium-bottom centered-text">
    <h2 class="premium-small-title">Все в плюсе!</h2>
</div>
{% endblock %}