{% extends 'main/template.html'%}
{% block title %}StarBugs++{% endblock %}
{% block content %}
        <div>

            <h3><span>единственная подписка, нужная для настоящих покорителей Марса</span></h3>

        </div>
        <div class="zagolovok"><span>starbugs++</span></div>
        <p class="content"> <span>Подписка StarBugs++ предоставляет вам доступ
            к абсолютно любому марсоходу, используя Credits. </span><br>
            Всё просто:
            <ol class="pizdatiy-list">
                <li>Выбираете любой из доступных марсоходов</li>
                <li>Отдаёте Credits в зависимости от текущего спроса</li>
                <li>Используете его для ваших нужд</li>
                <li>Когда надоедает - освобождаете и получается Credits обратно</li>
                <li>Все в плюсе!</li>
            </ol>

        </p>
        <p class="content">Также, вы можете оформить пробный период на 14 дней.<br>
        Отмените в любой удобный вам момент.</p>
{% endblock %}