{% extends 'main/template.html'%}
{% block title %}Частые вопросы{% endblock %}
{% block content %}
        <div>
            <h3><span>frequently asked questions</span></h3>
        </div>
        <table>
            <tr>
                <td>
                    Вопрос: Как я могу арендовать марсоход?
                </td>
                <td>
                    Ответ: Для аренды марсохода просто зайдите на наш веб-сайт,
                    выберите подходящую модель марсохода, укажите даты аренды и заполните необходимую информацию.
                    Наш менеджер свяжется с вами для уточнения деталей.
                </td>
            </tr>
            <tr>
                <td>Вопрос: Каков срок аренды марсохода?</td>
                <td>Ответ: Срок аренды может варьироваться в зависимости от ваших потребностей.
                    Мы предлагаем гибкие варианты, начиная от нескольких дней до длительных миссий.
                    Обсудите свои требования с нашими специалистами, чтобы мы могли предложить оптимальное решение.
                    </td>
            </tr>
            <tr>
                <td>Вопрос: Каковы технические характеристики доступных марсоходов?</td>
                <td>Ответ: Наши марсоходы оборудованы передовой технологией для исследования марсианской поверхности.
                    Технические характеристики включают в себя системы навигации,
                    научные инструменты и возможности передачи данных.
    </td>
            </tr>
            <tr>
                <td>Вопрос: Какие возможности обеспечивает ваша техподдержка во время миссии?</td>
                <td>Наша техподдержка доступна 24/7 для решения технических вопросов и оперативного реагирования
                    на любые проблемы во время миссии.
                    Мы также предоставляем удаленный мониторинг и диагностику оборудования.
    </td>
            </tr>
        </table>
        <p class="content">Если у вас остались вопросы, вы можете обратиться в нашу службу поддержки</p></div>
{% endblock %}
