{% extends 'base.html'%}
{% block title %}Арендовать{% endblock %}
{% load static %}
{% block content %}
<div class="rent-main-page">
    <div class="banner">
        <p>some info here</p>
        <h3>filters</h3>
    </div>
    <div class="rent-page-content">
        <div class="rover-card">
            <div class="card-image">
                <img class="rover-image" src="{% static "images/rovers/mars-rover-1241266.jpg" %}" alt="">
            </div>
            <div class="card-info">
                <h3 class="rover-name">RedRover XR-5000</h3>
                <table class="rover-specs">
                    <tr>
                        <td>Пробег</td>
                        <td>500км</td>
                    </tr>
                    <tr>
                        <td>Скорость</td>
                        <td>10 км/ч</td>
                    </tr>
                    <tr>
                        <td>Оборудование</td>
                        <td>
                            <ul>
                                <li>Камеры</li>
                                <li>Анализатор почвы</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Тариф</td>
                        <td>15 руб/мин</td>
                    </tr>
                </table>
            </div>
            <div class="rent-block">
                <button class="form-submit rent-btn">Арендовать</button>
            </div>
        </div>
        <div class="rover-card">
            <div class="card-image">
                <img class="rover-image" src="{% static "images/rovers/mars-rover-1241266.jpg" %}" alt="">
            </div>
            <div class="card-info">
                <h3 class="rover-name">RedRover XR-5000</h3>
                <table class="rover-specs">
                    <tr>
                        <td>Пробег</td>
                        <td>500км</td>
                    </tr>
                    <tr>
                        <td>Скорость</td>
                        <td>10 км/ч</td>
                    </tr>
                    <tr>
                        <td>Оборудование</td>
                        <td>
                            <ul>
                                <li>Камеры</li>
                                <li>Анализатор почвы</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Тариф</td>
                        <td>15 руб/мин</td>
                    </tr>
                </table>
            </div>
            <div class="rent-block">
                <button class="form-submit rent-btn">Арендовать</button>
            </div>
        </div>
        <div class="rover-card">
            <div class="card-image">
                <img class="rover-image" src="{% static "images/rovers/mars-rover-1241266.jpg" %}" alt="">
            </div>
            <div class="card-info">
                <h3 class="rover-name">RedRover XR-5000</h3>
                <table class="rover-specs">
                    <tr>
                        <td>Пробег</td>
                        <td>500км</td>
                    </tr>
                    <tr>
                        <td>Скорость</td>
                        <td>10 км/ч</td>
                    </tr>
                    <tr>
                        <td>Оборудование</td>
                        <td>
                            <ul>
                                <li>Камеры</li>
                                <li>Анализатор почвы</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Тариф</td>
                        <td>15 руб/мин</td>
                    </tr>
                </table>
            </div>
            <div class="rent-block">
                <button class="form-submit rent-btn">Арендовать</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
