{% extends 'base.html'%}
{% block title %}ПДД{% endblock %}
{% block content %}
        <div class="content">
            <p>Правила дорожного движения на Марсе для марсоходов могут отличаться от правил на Земле из-за различий в атмосфере, поверхности и особенностей марсианской транспортной инфраструктуры. Ниже представлены общие рекомендации, которые могут быть актуальными для движения марсоходов на Марсе:</p>
        </div>
            <ul class="default-list">
                <span>
                    <details><summary>Соблюдайте безопасную скорость</summary> <summary>Учитывайте поверхностные условия и ограничения марсохода при определении безопасной скорости движения. Внимательно следите за показаниями инструментов.</details>
                    <details><summary>Соблюдайте дистанцию </summary>Держитесь на безопасном расстоянии от других марсоходов и объектов, чтобы избежать столкновений и обеспечить безопасность движения.</details>
                    <details><summary>Уступайте дорогу </summary>Уступайте дорогу марсоходам, находящимся в приоритете или двигающимся быстрее. Уважайте правило "правой руки".</details>
                    <details><summary>Используйте световую сигнализацию: </summary>Если это предусмотрено в конструкции марсохода, используйте световые сигналы для указания направления движения и намерений.</details>
                    <details><summary>Соблюдайте экологию: </summary>Соблюдайте правила и рекомендации по охране марсианской среды. Не загрязняйте поверхность Марса.</details>
                    <details><summary>Соблюдайте зоны ограничений: </summary>Соблюдайте зоны ограничений и запретов, установленные местными властями или исследовательскими миссиями.</details>
                    <details><summary>Обязательное обслуживание: </summary>Регулярно проводите обслуживание и проверку марсохода, чтобы гарантировать его надежную и безопасную работу.</details>
                    <details><summary>Следуйте инструкциям миссии: </summary>Если вы участвуете в научной миссии или исследовательском проекте, строго следуйте инструкциям и распоряжениям командования.</details>
                    <details><summary>Соблюдайте моральные нормы: </summary>Уважайте правила и нормы морального поведения на Марсе и в рамках международных миссий.</details>
                    <details><summary>Соблюдайте радиосвязь: </summary>Поддерживайте радиосвязь с другими марсоходами и миссионным контролем для обеспечения безопасности и координации.</details>
                </span>
            </ul>
        </div>
{% endblock %}
