{% extends 'main/template.html'%}
{% block title %}ПДД{% endblock %}
{% block content %}
        <div class="rules">
            <p>Правила дорожного движения на Марсе для марсоходов могут отличаться от правил на Земле из-за различий в атмосфере, поверхности и особенностей марсианской транспортной инфраструктуры. Ниже представлены общие рекомендации, которые могут быть актуальными для движения марсоходов на Марсе:</p>
            <ul class="pizdatiy-list">
                <span>
                    <li><b>Соблюдайте безопасную скорость: </b>Учитывайте поверхностные условия и ограничения марсохода при определении безопасной скорости движения. Внимательно следите за показаниями инструментов.</li>
                    <li><b>Соблюдайте дистанцию: </b>Держитесь на безопасном расстоянии от других марсоходов и объектов, чтобы избежать столкновений и обеспечить безопасность движения.</li>
                    <li><b>Уступайте дорогу: </b>Уступайте дорогу марсоходам, находящимся в приоритете или двигающимся быстрее. Уважайте правило "правой руки".</li>
                    <li><b>Используйте световую сигнализацию: </b>Если это предусмотрено в конструкции марсохода, используйте световые сигналы для указания направления движения и намерений.</li>
                    <li><b>Соблюдайте экологию: </b>Соблюдайте правила и рекомендации по охране марсианской среды. Не загрязняйте поверхность Марса.</li>
                    <li><b>Соблюдайте зоны ограничений: </b>Соблюдайте зоны ограничений и запретов, установленные местными властями или исследовательскими миссиями.</li>
                    <li><b>Обязательное обслуживание: </b>Регулярно проводите обслуживание и проверку марсохода, чтобы гарантировать его надежную и безопасную работу.</li>
                    <li><b>Следуйте инструкциям миссии: </b>Если вы участвуете в научной миссии или исследовательском проекте, строго следуйте инструкциям и распоряжениям командования.</li>
                    <li><b>Соблюдайте моральные нормы: </b>Уважайте правила и нормы морального поведения на Марсе и в рамках международных миссий.</li>
                    <li><b>Соблюдайте радиосвязь: </b>Поддерживайте радиосвязь с другими марсоходами и миссионным контролем для обеспечения безопасности и координации.</li>
                </span>
            </ul>
        </div>
{% endblock %}
