{% extends 'base.html'%}
{% block title %}Арендовать{% endblock %}
{% load static %}
{% load rovers_tags %}
{% block content %}
<div class="rent-main-page">

    <div class="banner">
        <div class="filters">
            <ul class="filters-list">
                <li><a href="?sort_by=default">по умолчанию</a></li>
                <li><a href="?sort_by=rate">по тарифу</a></li>
                <li><a href="?sort_by=mileage">по пробегу</a></li>
                <li><a href="?sort_by=speed">по скорости</a></li>
            </ul>
        </div>
    </div>

    <div class="rent-page-content">
        {% for rover in rovers %}
            {% if rover.is_available %}
                <div class="rover-card">
                    <div class="card-image">
                        {% if rover.image %}
                            <img class="rover-image" src="{{ rover.image.url }}" alt="Rover Image">
                        {% else %}
                            <img class="rover-image" src="{% static "images/rovers/rover_not_found.png" %}" alt="">
                        {% endif %}
                    </div>
                    <div class="card-info">
                        <h3 class="rover-name">{{ rover.rover_name }}</h3>
                        <table class="rover-specs">
                            <tr>
                                <td class="first-col">Пробег</td>
                                <td>{{ rover.mileage }} км</td>
                            </tr>
                            <tr>
                                <td class="first-col">Скорость</td>
                                <td>{{ rover.speed }} км/ч</td>
                            </tr>
                            <tr>
                                <td class="first-col">Оборудование</td>
                                <td>
                                    <ul>
                                        {% for eq in rover.equipment_as_list %}
                                            <li>{{ eq }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="first-col">Тариф</td>
                                <td>{{ rover.rate }} руб/мин</td>
                            </tr>
                        </table>
                    </div>
                    <div class="rent-block">
                        <form method="post" action="{% url 'rovers:rent_rover' rover.rover_id %}">
                            {% csrf_token %}
                            <button type="submit" class="form-submit rent-btn">Арендовать</button>
                        </form>
                    </div>
                </div>
            {% endif %}
            
        {% endfor %}

    </div>
    <br>
    <!-- Пагинация -->
    {% if rovers %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center my-4">

                {% if rovers.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?{% change_params page=rovers.previous_page_number %}">Назад</a>
                    </li>
                {% endif %}

                {% for page in rovers.paginator.page_range %}
                    {% if page >= rovers.number|add:-2 and page <= rovers.number|add:2 %}
                        <li class="page-item ">
                            <a class="page-link"  href="?{% if rovers.number != page %}{% change_params page=page %}{% endif %}">{{ page }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if rovers.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?{% change_params page=rovers.next_page_number %}">Следующая</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>
{% endblock %}
