{% extends 'base.html'%}
{% load static %}
{% block title %}Аккаунт{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="user-visual">
            <div class="user-pfp">
                <img class="user-photo" src="{% static 'images/avatars/astronaut-svgrepo-com.svg' %}" alt="">
            </div>
            <div class="user-data">
                <h3 class="my-profile-title">Мой профиль</h3> 
                <table class="account-info">
                    {% if user.first_name %}
                        <tr>
                            <td class="first-col">Имя</td>
                            <td class="second-col">{{ user.first_name }}</td>
                        </tr>
                    {% endif %}

                    {% if user.last_name %}
                        <tr>
                            <td class="first-col">Фамилия</td>
                            <td class="second-col">{{ user.last_name }}</td>
                        </tr>
                    {% endif %}

                    {% if user.phone_number %}
                         <tr>
                                <td class="first-col">Телефон</td>
                                <td class="second-col">{{ user.phone_number }}</td>
                            </tr>
                    {% endif %}

                    {% if user.email %}
                    <tr>
                        <td class="first-col">Email</td>
                        <td class="second-col">{{ user.email }}</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="account-data">
            <div class="balance-data">
                <h3 class="balance-title">Баланс</h3>
                <h1 class="balance-value">{{ user.balance_value}}</h1>
                <h3 class="rubles-title">рублей</h3>
                <a href="{% url 'users:increase_balance' %}">
                    <button class="form-submit">Пополнить</button>
                </a>
            </div>
            <div class="promocode-box">
                <h4>Использовать промокод</h4>
                <form class="styled-form">
                    <input class="promocode-input" type="text" placeholder="Введите промокод">
                    <button class="form-submit">Активировать</button>
                </form>
            </div>
                
            
            <div class="rents-data">
                <h3>История аренды</h3>
                <hr class="rent-history-hr">
                {% if usings %}
                    <table class="rents-history">
                        <tr class="rents-history-header">
                            <td>Номер</td>
                            <td>Статус</td>
                            <td>Марсоход</td>
                            <td>Начало аренды</td>
                            <td>Завершение аренды</td>
                            <td>Сумма</td>
                        </tr>
                        {% for using, cost in usings_with_total %}
                            <tr>
                                <td>{{ using.using_id }}</td>
                                {% if using.end_time %}
                                <td>Завершена</td>
                                {% else %}
                                <td>Не завершена</td>
                                {% endif %}
                                <td>{{ using.rover }}</td>
                                <td>{{ using.start_time }}</td>
                                {% if using.end_time %}
                                <td>{{ using.end_time }}</td>
                                {% else %}
                                <td> 
                                    <form method="post" action="{% url 'rovers:end_rent' using.rover_id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="form-submit rent-btn">Завершить</button>
                                    </form>
                                </td>
                                {% endif %}
                                <td>{{ cost }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>У вас еще нет истории аренды.</p>
                {% endif %}
                
            </div>
        </div>
    </div>
{% endblock %}