{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="StarBugsSharing - Аренда марсоходов для исследования поверхности Марса. Путешествуйте вместе с нами!">
    <link rel="icon" href="#" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&family=Overpass&display=swap" >
    <title>Регистрация</title>
</head>
<body>
    <div class="overlay">
        <div class="wrapper">
            <a href="{% url 'home' %}" class="close">x</a>
            <div class="column details">
                <div class="signup">
                    <h1>Регистрация</h1>
                      <form method="post" action="{% url 'registration' %}">
                        {% csrf_token %}

                        {{ form.as_p }}

                        <button class="form-submit" type="submit">Зарегистрироваться</button>
                      </form>
                    <span>Уже есть аккаунт? <a href="{% url 'login' %}"><button id="signin">Войти</button></a></span>
                </div>
            </div>
            <div class="column content">
                <div class="signup">
                    <h1>Вперед к Марсу!</h1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
